@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merienda:wght@300..900&display=swap");

p::-webkit-scrollbar {
    width: 0; /* Hide scrollbar */
    background: transparent; /* Make scrollbar background transparent */
}

/* On hover */
p:hover::-webkit-scrollbar {
    width: 2px; /* Show scrollbar */
}

/* Track */
p::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
p::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
p::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.all-font {
    font-family: "Merienda", cursive !important;
    font-optical-sizing: auto;
    font-weight: lighter !important;
}
.title-font {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
}
